@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.loader-conatiner{
    background: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    clip-path: circle(150% at 100% 100%);
    transition: clip-path 1s ease-in-out;
    .loader-circle-img{
        position: relative;
        width: 80px;
        height: 80px;
        margin: 10px;
        .loader-circle-1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
            border: solid 4px transparent;
            border-top: solid 4px orange;
            border-left: solid 4px orange;
            border-radius: 50%;
            animation: loader 1.5s linear infinite;
        }
        .loader-circle-2{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 75%;
            height: 75%;
            border: solid 4px transparent;
            border-top: solid 4px red;
            border-left: solid 4px red;
            border-radius: 50%;
            animation: loader 1.2s linear infinite reverse;
        }
        .loader-img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 35px;
        }
    }
}
  .loader-hide{
    clip-path: circle(0% at 100% 100%);
  }
@keyframes loader {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }    
}

main{
    position: relative;
    width: 100%;
    height: 100vh;
    .fondo{
        width: 100%;
        height: 100vh;
        background-color: #1bd1ff;
        img{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-position: center center;
            background-size: cover;
            background-repeat: repeat;
        }
    }
}
.conten_personaje{
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 400px;
    height: 400px;
    .personajeStopRight{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/stop.png');
        margin: auto;
        animation: run 1s steps(15) infinite reverse;
        transform: translate(-50%, -50%) scale(.3);
    }
    .personajeStopLeft{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/stop.png');
        margin: auto;
        animation: run 1s steps(15) infinite reverse;
        transform: translate(-50%, -50%) rotateY(180deg) scale(.3);
    }
    .personajeRunRight{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/run.png');
        margin: auto;
        animation: run .8s steps(15) infinite reverse;
        transform: translate(-50%, -50%) scale(.3);
    }
    .personajeRunLeft{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/run.png');
        margin: auto;
        animation: run .8s steps(15) infinite reverse;
        transform: translate(-50%, -50%) rotateY(180deg) scale(.3);
    }
    .personajeJumpRight{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/jump.png');
        margin: auto;
        animation: jumpStop 1s steps(10) reverse;
        transform: translate(-50%, -50%) scale(.3);
    }
    .personajeJumpLeft{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/jump.png');
        margin: auto;
        animation: jumpStop 1s steps(10) reverse;
        transform: translate(-50%, -50%) rotateY(180deg) scale(.3);
    }
    .personajeFlyRight{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/fly.png');
        margin: auto;
        animation: run .8s steps(15) infinite reverse;
        transform: translate(-50%, -50%) scale(.3);
    }
    .personajeFlyLeft{
        position: relative;
        top: 50%;
        left: 50%;
        width: 881px;
        height: 639px;
        background: url('../../assets/fly.png');
        margin: auto;
        animation: run .8s steps(15) infinite reverse;
        transform: translate(-50%, -50%) rotateY(180deg) scale(.3);
    }
}


@keyframes run {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 13215px;
    }
}

@keyframes jumpStop {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 8810px;
    }
}